name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    #Set up Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    # Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # Start FastAPI server in the background
    - name: Start FastAPI server
      run: |
        pip install uvicorn
        nohup uvicorn main:app --host 0.0.0.0 --port 8000 &

    #  Wait a moment and run health check
    - name: Run health check test
      run: |
        pip install requests
        python -c "import requests; import time; time.sleep(2); r = requests.get('http://127.0.0.1:8000/health'); assert r.json()['status'] == 'OK'"

    #  Build Docker image
    - name: Build Docker image
      run: docker build -t fastapi-backend:ci .
